/* src/Dashboard/tabs.module.css */

.tabsContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.tabHeaders {
    display: flex;
    flex-shrink: 0;
    padding: var(--space-xxs) var(--space-sm);
}

.tabHeader {
    background-color: transparent;
    border: none;
    padding: var(--space-xxs) var(--space-xs);
    cursor: pointer;
    font-weight: 600;
    font-size: var(--font-size-sm);
    color: var(--text-secondary);
    transition: color var(--transition-speed-fast) var(--transition-ease),
        border-bottom var(--transition-speed-fast) var(--transition-ease);
    border-bottom: 2px solid transparent;
    margin-right: var(--space-sm);
    white-space: nowrap;
}

.tabHeader:hover:not(.active):not(:disabled) {
    color: var(--color-primary-light);
    border-bottom: 2px solid var(--color-primary-light);
    background: transparent;
}

.tabHeader.active,
.tabHeader[aria-current="true"] {
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
    background: transparent;
}

.tabHeader:disabled {
    cursor: not-allowed;
    color: var(--text-tertiary);
}

.tabContent {
    flex-grow: 1;
    overflow-y: auto;
    padding: 0;
}

@media (max-width: 600px) {
    .tabHeaders {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .tabHeaders::-webkit-scrollbar {
        display: none;
    }
}