html,
body {
    min-height: 100vh;
    width: 100vw;
    background: var(--background-light);
    color: var(--text-primary);
    transition: background-color var(--transition-speed-normal) var(--transition-ease),
        color var(--transition-speed-normal) var(--transition-ease);
}